html, body {
  font-family: 'Roboto', sans-serif;
  width:100%;
}

body {
    padding-top: 55px;
}

.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
    width: 25%;
}

img.poster {
    max-width: 90%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input,button{
    margin-top: 0.5em;
}

.input-group .dropdown-menu {
    width: 100%;
    overflow: auto;;
}