<div class="main" ng-controller="NewMovieController">
    {{newMovieText}}
</div>

<form novalidate class="simple-form">
    <label>Movie Name:
        <input type="text" ng-model="movie.Title"
               placeholder="type something"
               uib-typeahead="movie as movie.Title for movie in getMoviesTypeAhead($viewValue)"
               typeahead-loading="loading"
               typeahead-no-results="noResults"

               typeahead-on-select="onSelect(onSelect($item, $model, $label, $event))"
        >
    </label><br />

    <label>Actors: <input type="text" ng-model="movie.Actors" /></label><br />
    <label>Genre: <input type="text" ng-model="movie.Genre" /></label><br />

    <input type="submit" ng-click="update(movie)" value="Save" />
</form>