<div class="main container" ng-controller="NewMovieController">
    <form novalidate class="simple-form">
        <h3>Add new movies</h3>
        <div class="input-group">
            <!--title-->
            <input type="text"
                   class="form-control filter-input"
                   placeholder="Title..."
                   aria-describedby="basic-addon1"
                   ng-model="search.Title"
                   uib-typeahead="movie as movie.Title for movie in getMoviesTypeAhead($viewValue)"
                   typeahead-loading="loading"
                   typeahead-no-results="noResults"
                   typeahead-on-select="onSelect(onSelect($item, $model, $label, $event))">

            <!--disabled input to show the actors-->
            <input disabled type="text" class="form-control filter-input" placeholder="Actors..." aria-describedby="basic-addon1" ng-model="movie.Actors">

            <!--disabled input to show the genre-->
            <input disabled type="text" class="form-control filter-input" placeholder="Genre..." aria-describedby="basic-addon1" ng-model="movie.Genre">

            <button class="btn btn-default" ng-click="update(movie)" value="Save">Add!</button>

            <div class="alert alert-success" ng-show="success">
                <strong>Success!</strong> You have added {{movie.Title}} into your library.
            </div>

            <img class="preview-poster" ng-src="{{ movie.Poster }}">
        </div>
    </form>


</div>